* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: rgb(36, 37, 41);
  --clr-secondary: rgb(54, 56, 62);
  --clr-bg-gray: rgb(220, 220, 220);
  --active-gray: rgb(178, 172, 167);
  --yellow: rgb(255, 243, 122);
  --white: rgb(255, 255, 255);
}
.bg {
  background-color: var(--clr-primary);
}
h2 {
  color: var(--white);
}
aside {
  height: 100vh;
  width: 20vw;
  border-right: 0.1px solid var(--active-gray);
}
.profile {
  display: flex;
  padding: 5px 0;
}
.profile img {
  background-color: var(--yellow);
  width: 100px;
  border-radius: 40px;
  padding: 5px;
}
button {
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--active-gray);
  border-radius: 15px;
  margin-top: -10px;
  padding: 0 12px;
}
button,
.nav-link,
img {
  cursor: pointer;
}
.nav-link {
  color: var(--active-gray);
}
.nav-link i {
  color: var(--white);
}
.navbar-nav .nav-link {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.nav-link:hover {
  background-color: #5453534a;
  color: white;
  border-radius: 10px;
}
button:hover {
  border-color: var(--white);
}
main {
  margin-top: 43px;
}
.search {
  background: transparent;
  text-align: left;
  color: white;
  /* background-color: #5453534a; */
  background-color: var(--clr-secondary);
  border: none;
  border-radius: 8px;
  padding: 10px 80px 10px 15px;
  margin: 5px 15px -4px 276px;
}
.header button {
  margin-top: 10px;
}
.btn-yellow {
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  background-color: var(--yellow);
  color: rgb(0, 0, 0);
}
.btn-notification {
  color: var(--white);
  border: 2px solid var(--active-gray);
  border-radius: 8px;
  padding: 8px 15px;
  background-color: transparent;
}
/* .btn-yellow:hover {
  background-color: rgba(255, 244, 122, 0.913);
} */
.search:focus {
  outline: none;
}
.parent-card {
  gap: 1rem;
}
.card {
  width: 17.6rem;
  padding: 5px 10px;
  background-color: var(--clr-secondary);
  color: white;
}
.card-body {
  padding: 1rem;
}
.card-title {
  display: flex;
  justify-content: space-between;
}
.btn-yellow:hover {
  background-color: rgba(255, 244, 122, 0.787);
}
/* utlility classes  */
.bg-yellow {
  background-color: var(--yellow);
  color: var(--clr-primary);
}
.bg-light-gray {
  background-color: var(--active-gray);
  color: var(--clr-primary);
}
